body
{
	background-color: rgba(255,243,273,0.2);
	font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
	padding-left: 25px;
}

#bloc_page
{
    width: 100%; /* différence 1 / v. large*/
    margin: 15px;
}

/* Header */

header
{
    /*background: url('tp_final/tp_final/images/separateur.png') repeat-x bottom;*/
    display: flex;
	flex-direction: column;	/* différence 2 / v. large*/
    justify-content: space-between;
    /*align-items: flex-end;*/ /* différence 3 / v. large*/
}

#titre_principal
{
    display: flex;
    flex-direction: row; /* différence 4 / v. large*/
}

header h2
{
	margin-top: 0px;
	margin-left: 10px; /* différence 5 / v. large*/
	letter-spacing: 3px;
}

header h5
{
    /*font-family: Arial, serif;*/
    /*font-size: 1.1em;*/
    margin-top: 15px; /* différence 6 / v. large*/
	margin-left: 35px;
	color: #a4009f;
	letter-spacing: 0.7px; /* différence 7 / v. large*/
	font-style: italic;
    font-weight: bold;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 30px; /* différence 8 / v. large*/
}

nav a
{
    font-size: 1.1em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


/*h3
{
	font-family: Calibri, sans-serif;
	text-align: center;
	letter-spacing: 3px;
	
}*/

p
{
	padding-left: 10px; /* différence 9 / v. large*/
	padding-right: 3%;
	text-align: justify;
} 